/* responsive for mobile devices */
@media screen and (max-width: 600px) {
    .travelNav {
        flex-direction: column;
    }

    .navLink {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

    }

    .btn-container {
        flex-direction: column;
        padding: 5px;
        gap: 10px;




    }

    .bannerTittle {
        font-size: 40px;
        font-weight: 800;
    }

    .bannerContant {
        padding: 0px;
    }

    .populerTour {
        flex-direction: column;
    }

    .populerContent {
        width: fit-content;
        gap: 10px;
    }

    .commonTitle {
        font-size: 25px;
        text-align: center;
    }

    .imageDecoration {
        flex-direction: column;
    }

    .imgDeco2 {
        flex-direction: column;
    }
.imaDeco3{
    flex-direction: column;
}
.ServiceConbtainer{
    flex-direction: column;
}
.serviceCard{
    width: 90%;
    padding: 10px;
}
.newfrom{
    flex-direction: column;
}
.formContainer{
    width: 80%;
    padding: 10px;
}

}