/* responsive for mobile devices */
@media screen and (max-width: 600px) {
    .travelNav {
        flex-direction: column;
    }

    .navLink {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        
    }
    .btn-container {
        flex-direction: column;
        padding: 5px;gap: 10px;




    }
    .bannerTittle{
        font-size:40px;
        font-weight: 800;
    }
    .bannerContant{
        padding: 0px;
    }
    
}