* {
    padding: 0px;
    margin: 0px;

}

.travelNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 9rem;
}




.navLogo {
    display: flex;
    gap: 5px;
    align-items: center;
}

.navLink {
    display: flex;
    gap: 50px;


}

.navLink>a {
    color: #424247;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
}

/* banner related style */
.bannerImage {
    background-image: url("/Images/Group\ 13\ \(1\)\ \(1\).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bannerTittle{
    color: #FFF; font-size: 64px;font-weight: 800; text-align: center;
}

.bannerContant {
    padding: 120px 200px;
}

/* botton style */
.yellowbtn {
    background-color: #FF5400;
    padding: 16px;
    border-radius: 6px;
    border: 0px;
    width: 175px;
    color: white;
}

.whitebtn {
    background-color: white;
    padding: 16px;
    border-radius: 6px;
    border: 0px;
    width: 175px;
}

.btn-container {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}