* {
    padding: 0px;
    margin: 0px;

}

.travelNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 9rem;
}

.commonTitle {
    color: #131318;
    font-size: 40px;
    font-weight: 800;

}



.navLogo {
    display: flex;
    gap: 5px;
    align-items: center;
}

.navLink {
    display: flex;
    gap: 50px;


}

.navLink>a {
    color: #424247;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
}

/* banner related style */
.bannerImage {
    background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bannerTittle {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
}

.bannerContant {
    padding: 120px 200px;
}

/* botton style */
.yellowbtn {
    background-color: #FF5400;
    padding: 16px;
    border-radius: 6px;
    border: 0px;
    width: 175px;
    color: white;
}

.whitebtn {
    background-color: white;
    padding: 16px;
    border-radius: 6px;
    border: 0px;
    width: 175px;
}

.btn-container {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

/* our populer related style below */
.populerTour {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.populerContent {
    width: 50%;
    color: rgba(19, 19, 24, 0.70);
    margin: 10px;

}

.populerContent>ul>li {
    margin: 10px;
}

/* image related stryle here */
.imageDecoration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.imageDecoration>img {
    width: 100%;

}

.imgDeco2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    gap: 20px;
}

.imgDeco2>img {
    height: 290px;
    width: 100%;
}

.imaDeco3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    gap: 20px;
}
.imaDeco3>img{
    height: 380px;
    width: 100%;
}

